name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'  # Cache les dépendances → ultra rapide

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install pytest  # Si pas dans requirements

    - name: Run tests
      run: pytest tests/ -v

    - name: Build Docker image
      run: docker build -t fraud-api .